# Root
.DS_Store
.env
.env.local
.env.*.local
*.log
*.tmp
*.bak
*.swp
*.orig
*.stackdump
*.sublime*
*.backup.*
*.back.*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.vscode-test
.history

# Node/Express
node_modules/
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
coverage/
.nyc_output
build/
dist/
serverless/
.webpack/
db.json

# Vercel / Railway / Hosting
.vercel

# Vite (Frontend)
**/.vite
/frontend/dist
/frontend/node_modules
/frontend/.env
/frontend/.env.local

# Backend
/backend/dist
/backend/build
/backend/node_modules
/backend/.env
/backend/.env.local

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache

# Others (not used)
.bower_components
.nuxt
.next
out
.docusaurus
.vuepress
.temp
.svelte-kit
fusebox/
.dynamodb/
tern-port
